<?xml version="1.0" encoding="utf-8" ?>
<configuration>
<!--definition see shared/common.config-->
	<contextmenus>
		<ref name="Undo" />
		<spliter />
		<ref name="Cut" />
		<ref name="Copy" />
		<ref name="Paste" />
		<ref name="Delete" />
		<spliter />
		<ref name="SelectAll" />
	</contextmenus>
</configuration>

